@{
    ViewBag.Title = "Home Page";
}


<header id="header">
    <div class="logo"><a href="#">Caminar <span>by TEMPLATED</span></a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">

        <!-- One -->
        <section id="one" class="wrapper style1">

            <div class="image fit flush">
                <img src="~/Content/images/pic02.jpg" alt="" />
            </div>
            <header class="special">
                <h2 data-aos="fade-up"
     data-aos-anchor-placement="center-center">Fringilla Fermentum Tellus</h2>
                <p>vehicula urna sed justo bibendum</p>
            </header>
            <div class="content">
                <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel. Vestibulum et efficitur urna. Duis velit nulla, interdum sed felis sit amet, facilisis auctor nunc. Cras luctus urna at risus feugiat scelerisque nec sed diam. </p>
                <p>Nunc fringilla metus odio, at rutrum augue tristique vel. Nulla ac tellus a neque ullamcorper porta a vitae ipsum. Morbi est sapien, hendrerit quis mi in, aliquam bibendum orci. Vestibulum imperdiet nibh vitae maximus posuere. Aenean sit amet nibh feugiat, condimentum tellus eu, malesuada nunc. Mauris ac pulvinar turpis, sit amet pharetra est. Ut bibendum justo condimentum, vehicula ex vel, venenatis libero. Etiam vehicula urna sed justo bibendum, ac lacinia nunc pulvinar. Integer nec velit orci. Vestibulum pellentesque varius dapibus. Morbi ullamcorper augue est, sed luctus orci fermentum dictum. Nunc tincidunt, nisl consequat convallis viverra, metus nisl ultricies dui, vitae dapibus ligula urna sit amet nibh. Duis ut venenatis enim.</p>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style2">
            <header>
                <h2>Vestibulum Convallis</h2>
                <p>vehicula urna sed justo bibendum</p>
            </header>
            <div class="content">
                <div class="gallery">
                    <div>
                        <div class="image fit flush">
                            <a href="images/pic03.jpg"><img src="~/Content/images/pic03.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit flush">
                            <a href="images/pic01.jpg"><img src="~/Content/images/pic01.jpg" alt="s" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit flush">
                            <a href="images/pic04.jpg"><img src="~/Content/images/pic04.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div>
                        <div class="image fit flush">
                            <a href="images/pic05.jpg"><img src="~/Content/images/pic05.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Three -->
        <section id="three" class="wrapper">
            <div class="spotlight">
                <div class="image flush"><img src="~/Content/images/pic06.jpg" alt="" /></div>
                <div class="inner">
                    <h3>Viverra Hendrerit</h3>
                    <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                </div>
            </div>
            <div class="spotlight alt">
                <div class="image flush"><img src="~/Content/images/pic07.jpg" alt="" /></div>
                <div class="inner">
                    <h3>Curabitur Eget</h3>
                    <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                </div>
            </div>
            <div class="spotlight">
                <div class="image flush"><img src="~/Content/images/pic08.jpg" alt="" /></div>
                <div class="inner">
                    <h3>Morbi Eleifend</h3>
                    <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                </div>
            </div>
        </section>

    </div>
</section>